<body>
	<form method='POST'>
{% csrf_token %}		
{{form.as_p}}
<input type='submit' value='Search'>
	</form>
	<table border='1'>
{% for lt in data %}
<tr>
	<td>
		{{lt.name}}
	</td>
	<td>
		{{lt.city}}
	</td>
</tr>
{% endfor %}
</table>

</body>

